input {
  margin-bottom: 12px;
}
.contactinput {
  background-color: aliceblue;
  color: blueviolet;
  width: 50%;
}
.anytext {
  margin-top: 20px;
}

@media screen and (max-width: 1050px) {
  .contactHead {
    margin-top: 71px;
  }
  .contactinput {
    width: 98%;
  }
}
