.headcont {
  display: flex;
  height: 100px;
  padding-bottom: 5px;
  border-bottom: 2px solid blueviolet;
}
.logo {
  width: 70%;
  margin-left: auto;
}
@media screen and (max-width: 1250px) {
  .headcont {
    display: block;
    border-bottom: none;
    font-size: 0.65rem;
    margin-bottom: 14%;
  }
  .logo {
    margin-top: 25px;
    width: 100%;
  }
}
