h2 {
  margin-top: 15px;
  padding: 10px;
}
.star {
  margin-top: 10px;
}

@media screen and (max-width: 1250px) {
  h2,
  h3 {
    margin-top: 85px;
    font-size: 1rem;
    text-decoration: underline;
  }
}
