h2 {
  margin-top: 15px;
  padding: 10px;
}
.star {
  margin-top: 10px;
}
.plot {
  width: 75%;
  margin: auto;
}
.randMovCont {
  display: flex;
}
.oneofthree,
.twoofthree,
.threeofthree {
  width: 33%;
  height: 505px;
}

.nextrand {
  margin-top: 200px;
}
