.movielist {
  margin: 35px auto;
}
.listrow {
  font-size: 1.25rem;
  border-bottom: 1px dodgerblue dotted;
}

@media screen and (max-width: 1050px) {
  .listrow {
    font-size: 0.5rem;
  }
  th {
    font-size: 0.75rem;
  }
}
