.moviePoster {
  width: 375px;
  height: 500px;
}
.movtitle {
  padding: 10px;
  font-family: serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}
.star {
  margin-top: 10px;
}
.theYear {
  font-size: 1.5rem;
}

.plot {
  width: 75%;
  margin: auto;
}
.randMovCont {
  display: flex;
}
.oneofthree,
.twoofthree,
.threeofthree {
  width: 33%;
  height: 505px;
}

.nextrand {
  margin-top: 200px;
}

@media screen and (max-width: 1250px) {
  .randMovCont {
    display: block;
  }

  .oneofthree,
  .twoofthree,
  .threeofthree {
    width: 98%;
    height: auto;
  }
  .moviePoster {
    margin: 10px auto;
  }
}
