.moviePoster {
  width: 375px;
  height: 500px;
}
.paramselect {
  width: 40%;
}
.selYearH {
  margin-bottom: 12%;
}
.nopeP {
  margin-top: 25%;
}
.movtitle {
  padding: 10px;
  font-family: serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}
.star {
  margin-top: 10px;
}
.theYear {
  font-size: 1.5rem;
}

.plot {
  width: 75%;
  margin: auto;
}
.randMovCont {
  display: flex;
  margin-bottom: 33px;
}
.oneofthree,
.twoofthree,
.threeofthree {
  width: 33%;
  height: 505px;
}

.nextrand {
  margin-top: 200px;
}

@media screen and (max-width: 1050px) {
  .randMovCont {
    display: block;
  }
  .nopeP {
    margin-top: 5%;
  }
  .oneofthree,
  .twoofthree,
  .threeofthree {
    width: 98%;
    height: auto;
  }

  .moviePoster {
    margin: 10px auto;
  }
}
