.optionscont {
  display: flex;
}
.searchButt {
  margin-bottom: 69px;
}
.searchSelect {
  margin-right: 3px;
}
.searchInput {
  margin-left: 7px;
  background-color: aliceblue;
  color: black;
}

.paramselect {
  width: 25%;
  margin: auto;
  margin-bottom: 65px;
}
.nomess {
  margin-top: 5%;
}

@media screen and (max-width: 1250px) {
  .paramselect {
    font: 0.65em sans-serif;
    margin-bottom: 5px;
    width: 55%;
  }
  .optionscont {
    display: block;
  }
  .errmess {
    margin-top: 95px;
  }
}
